@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    
    <div class="col-md-5">
        <a href="#" class="list-group-item">
            <img class="img-responsive img-rounded" src="~/Content/themes/base/images/4.jpg">
            <h3 class="list-group-item-heading">Who are we?</h3>
            <p class="list-group-item-text"> We’re a leading international banking group committed to building a sustainable business over the long-term</p>
        </a>
    </div>
    <div class="col-md-5">
        <a href="#" class="list-group-item">
            <img class="img-responsive img-rounded" src="~/Content/themes/base/images/5.jpg">
            <h3 class="list-group-item-heading">Our Business</h3>
            <p class="list-group-item-text"> We provide a wide-range of products and services for personal and business customers across number of markets.</p>
        </a>
    </div>
    <div class="row">
        <div class="col-md-5">
        <a href="#" class="list-group-item">
            <img class="img-responsive img-rounded" src="~/Content/themes/base/images/6.jpg">
            <h3 class="list-group-item-heading">Diversity and Inclusion</h3>
            <p class="list-group-item-text"> Our approach to diversity and inclusion is fundamental to who we are as an organisation, and a key aspect of our brand promise, Here for good.</p>
        </a>
    </div>
        <div class="col-md-5">
        <a href="#" class="list-group-item">
            <img class="img-responsive img-rounded" src="~/Content/themes/base/images/8.jpg">
            <h3 class="list-group-item-heading">Our Views</h3>
            <p class="list-group-item-text">
Our experts are sharing their views on banking, economies & innovation</p>
        </a>
    </div>
    </div>
    </div>