@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    
    <div class="col-md-5">
        <a href="#" class="list-group-item">
            <img class="img-responsive img-rounded" src="~/Content/themes/base/images/7.jpg">
            <h3 class="list-group-item-heading">Email Us</h3>
            contactus@mybank.com,<br />
            bcsf10a039@pucit.edu.pk,<br />
            bilal.akmal47@gmail.com
            <p class="list-group-item-text"> 
            </p>
        </a>
    </div>
    <div class="col-md-5">
        <a href="#" class="list-group-item">
            <img class="img-responsive img-rounded" src="~/Content/themes/base/images/11.jpg">
            <h3 class="list-group-item-heading">Visit Our Local Branches</h3>
            <p class="list-group-item-text"> 
                1. Room #18 PUCIT Anarkali Lahore,<br />
                2. Lab D2 PUCIT Anarkali Lahore,<br />
                3. Agile PUCIT Anarkali Lahore
            </p>
        </a>
    </div>
</div>