@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8" style="margin-top:28px">
    <div class="container">
        <div class="row col-md-10">
            <div id="this-carousel-id" class="carousel slide" ><!-- class of slide for animation -->
                <!-- <ol class="carousel-indicators">
                        <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
                        <li data-target="#this-carousel-id" data-slide-to="1"></li>
                        <li data-target="#this-carousel-id" data-slide-to="2"></li>
                </ol>-->
                <div class="carousel-inner">

                    <div class="item active">
                    <img src="~/Content/themes/base/images/1.jpg" class="img-responsive">
                    <div class="carousel-caption">
                            <p>Prosperity Touching to Sky</p>
                            </div>
                    </div>
                    <div class="item">
                    <img src="~/Content/themes/base/images/2.jpg" class="img-responsive">
                    <div class="carousel-caption">
                            <p style="text-align:left">Your Satisfaction Our Goal</p>
                            </div>
                    </div>
                    <div class="item">
                    <img src="~/Content/themes/base/images/3.jpg" class="img-responsive">
                    <div class="carousel-caption">
                            <p style="text-align:right">You Think We Do</p>
                            </div>
                    </div>
                </div>
                <a class="right carousel-control" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
                <a class="left carousel-control" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
                
            </div>
            <div class="col-md-6">
                <div class="list-group">
                    <a  class="list-group-item">
                        <h3 class="list-group-item-heading">Personal Banking</h3>
                        <p class="list-group-item-text">As you go through life, your financial needs and priorities change. 
                            We have world-class banking products and services to support you at every stage.</p>
                    </a>
                    <a class="list-group-item">
                        <h3 class="list-group-item-heading">Banking Services</h3>
                        <p class="list-group-item-text"> We combine global capabilities with deep local knowledge to 
                            provide innovative products and services to meet the needs of our customers and clients.</p>
                    </a>
                    <a class="list-group-item">
                        <h3 class="list-group-item-heading">Online Banking</h3>
                        <p class="list-group-item-text">Get complete control of your accounts and manage your finances anytime, 
                            anywhere..</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <a class="list-group-item">
                    <img class="img-responsive img-rounded" src="~/Content/themes/base/images/12.jpg">
                    <h3 class="list-group-item-heading">Saving And Accounts</h3>
                    <p class="list-group-item-text">
                    We offer a wide choice of savings accounts. You also have the added convenience of getting easy access to 
                        your money when you're abroads.</p>
                </a>
            </div>
            <div class="col-md-3">
                <a  class="list-group-item">
                    <img class="img-responsive img-rounded" src="~/Content/themes/base/images/13.jpg">
                    <h3 class="list-group-item-heading">Sustainability</h3>
                    <p class="list-group-item-text"> By running our operations well, standing by our clients & customers and 
                        investing in local communities, we can be a powerful force for good..</p>
                </a>
            </div>
        </div>
    </div>
</div>
